.comment {
  max-height: 45vh;
  overflow-y: scroll;
}

.commentInputs {
  border: none;
  outline: none;
  padding: 5px;
}

.comment::-webkit-scrollbar {
  width: 8px; /* You can adjust this value */
}

.comment::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* You can set your preferred color */
  border-radius: 4px;
}

.comment::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* You can set your preferred color */
  border-radius: 4px;
}
